.gallery {
    display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 5px;
}
.active {
    background: black; 
    color: white;
    text-decoration: underline;
    
}
*{
  background: green;  
  box-sizing: border-box
}
